<main class="w-full flex justify-between pb-2 border-b">
    <div class="flex flex-col justify-end">
        <span class="flex items-center gap-1">
            <h1 class="text-sm"><%= @stock_listings.name %></h1>
            <h1 class="text-[4px]"><%= fa_icon "circle"%>
            <h1 class="text-sm"><%= @stock_listings.asset_type %></h1>
            <h1 class="text-[4px]"><%= fa_icon "circle"%>
            <h1 class="text-sm">USD</h1>
        </span>
        <h1 class="text-3xl font-semibold tracking-widest"><%= @stock.symbol %></h1>
    </div>
    <div class="flex flex-col items-end gap-1">
        <%= link_to stocks_path do %>
            <button class="w-20 text-sm bg-gray-400 font-semibold hover:bg-gray-500 px-2 py-1 rounded-sm">Back</button>
        <% end %>
        <% netherlands_time = @stock.created_at.in_time_zone("Amsterdam") %>
        <% if netherlands_time.to_date == Date.current %>
            <%= link_to buy_stock_stock_path(@stock), method: :post, data: {turbo_frame: "modal"} do %>
                <button class="w-20 text-sm bg-yellow-400 hover:bg-yellow-500 font-semibold px-2 py-1 rounded-sm">Buy Stock</button>
            <% end %>
        <% end %>
    </div>
</main>
<section class="pt-1">
    <span class="flex items-center gap-4">
        <h1 class="text-4xl text-slate-800 font-black tracking-tight"><%= @stock.close %></h1>
        <% change = @stock.stock_price_changes %>
        <% change_class = change.negative? ? 'text-red-600 text-xl font-bold' : 'text-green-600 text-xl font-bold' %>
        <h2 class="<%= change_class %>">
            <%= number_with_precision(change, precision: 2) %>
            (<%= number_with_precision(@stock.percentage_change, precision: 2) %>%)
        </h2>
    </span>
    <h3 class="text-sm">At close: <%= @stock.created_at.strftime("%B %d at %I:%M %p UTC") %></h3>
</section>
