<h1>Stocks</h1>

<%= form_with url: fetch_data_stocks_path, method: :get, local: true do %>
  <div>
    <label for="symbol">Stock Symbol:</label>
    <input type="text" name="symbol" id="symbol" required>
    <button type="submit">Fetch Data</button>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Open</th>
      <th>High</th>
      <th>Low</th>
      <th>Close</th>
      <th>Volume</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= stock.symbol %></td>
        <td><%= stock.open %></td>
        <td><%= stock.high %></td>
        <td><%= stock.low %></td>
        <td><%= stock.close %></td>
        <td><%= stock.volume %></td>
        <td><%= link_to 'Show', stock_path(stock) %></td>
      </tr>
    <% end %>
  </tbody>
</table>