<div data-controller="dropdown" class="flex items-center justify-between flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-teal-50">
    <div>
        <button data-action="click->dropdown#openDropdown" data-dropdown-target="openButton" class="text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-3 py-1.5" type="button">
            <div class="flex items-center">
                <span class="sr-only">Action button</span>
                <span>View Accounts</span>
                <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                </svg>
            </div>
        </button>
        <button data-action="click->dropdown#closeDropdown" data-dropdown-target="closeButton" class="text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-3 py-1.5" type="button">
            <div class="flex items-center">
                <span class="sr-only">Action button</span>
                <span>View Accounts</span>
                <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                </svg>
            </div>
        </button>
        <!-- Dropdown menu -->
        <div data-dropdown-target="dropdownContent" id="dropdownAction" class="z-10 absolute top-36 bg-white divide-y divide-gray-100 rounded-lg shadow w-44">
            <ul class="py-1 text-sm text-gray-700" aria-labelledby="dropdownActionButton">
                <%= link_to pending_accounts_admin_users_path do %>
                    <li class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-teal-600 dark:hover:text-white">Pending Accounts</li>
                <% end %>
                <%= link_to approved_accounts_admin_users_path do %>
                    <li class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-teal-600 dark:hover:text-white">Approved Accounts</li>
                <% end %>
                <%= link_to rejected_accounts_admin_users_path do %>
                    <li class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-teal-600 dark:hover:text-white">Rejected Accounts</li>
                <% end %>
                <%= link_to deleted_accounts_admin_users_path do %>
                    <li class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-teal-600 dark:hover:text-white">Deleted Accounts</li>
                <% end %>
            </ul>
            <div class="py-1">
                <%= link_to admin_users_path do %>
                    <p class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-teal-600 dark:hover:text-white">Account Overview</p>
                <% end %>
            </div>
        </div>
    </div>
    <label for="table-search" class="sr-only">Search</label>
    <div class="relative">
        <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
        </div>
        <input type="text" id="table-search-users" class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500" placeholder="Search for users">
    </div>
</div>
