 <ul class="flex flex-col justify-center gap-6 md:flex-row">
    <div class="flex justify-between gap-8">
        <li><%= image_tag("bdo_logo", class: "h-6") %></li>
        <li><%= image_tag("gcash_logo", class: "h-6") %></li>
        <li><%= image_tag("union_bank_logo", class: "h-6") %></li>
        <li><%= image_tag("bpi_logo", class: "h-6") %></li>
    </div>
    <div class="flex justify-between gap-8">
        <li><%= image_tag("seven_eleven_logo", class: "h-6") %></li>
        <li><%= image_tag("citi_bank_logo", class: "h-6") %></li>
        <li><%= image_tag("lbc_logo", class: "h-6") %></li>
        <li><%= image_tag("maya_logo", class: "h-6") %></li>
    </div>
</ul>