<div class="w-full flex flex-col gap-4 md:flex-row">
                            <span class="w-full flex flex-col bg-white border border-gray-200 rounded-lg shadow cursor-pointer" data-admin-overview-target="activeTraders">
                                <p class="font-medium text-center bg-teal-600 text-white py-1 rounded-t-lg">Active Traders</p>
                                <div class="h-full flex justify-center items-center bg-white text-gray-800 p-3 gap-2 rounded-b-lg">
                                    <h5 class="mb-2 text-2xl font-bold tracking-tight"><%= @number_of_traders %></h5>
                                    <h5 class="mb-2 px-2 py-1 rounded-full bg-teal-600 text-white text-lg font-bold tracking-tight"><%= fa_icon "user-plus" %></h5>
                                </div>
                            </span>
                            <span class="w-full flex flex-col bg-white border border-gray-200 rounded-lg shadow cursor-pointer" data-admin-overview-target="numberOfTrades">
                                <p class="font-medium text-center bg-teal-600 text-white py-1 rounded-t-lg">No. of Trades</p>
                                <div class="h-full flex justify-center items-center bg-white text-gray-800 p-3 gap-2 rounded-b-lg">
                                    <h5 class="mb-2 text-2xl font-bold tracking-tight"><%= @number_of_trades %></h5>
                                    <h5 class="mb-2 px-2 py-1 rounded-full bg-teal-600 text-white text-xl font-bold tracking-tight"><%= fa_icon "exchange" %></h5>
                                </div>
                            </span>
                        </div>
                        <div class="w-full flex flex-col gap-4 md:flex-row">
                            <span class="w-full flex flex-col bg-white border border-gray-200 rounded-lg shadow cursor-pointer" data-admin-overview-target="totalRevenue">
                                <p class="font-medium text-center bg-teal-600 text-white py-1 rounded-t-lg">Total Revenue</p>
                                <div class="h-full flex justify-center items-center bg-white text-gray-800 p-3 gap-2 rounded-b-lg">
                                    <h5 class="mb-2 text-2xl font-bold tracking-tight"><%= @total_revenue %></h5>
                                    <h5 class="mb-2 px-2 py-1 rounded-full bg-teal-600 text-white text-xl font-bold tracking-tight"><%= fa_icon "money" %></h5>
                                </div>
                            </span>
                            <span class="w-full flex flex-col bg-white border border-gray-200 rounded-lg shadow cursor-pointer" data-admin-overview-target="tradeValue">
                                <p class="font-medium text-center bg-teal-600 text-white py-1 rounded-t-lg">Trade Value</p>
                                <div class="h-full flex justify-center items-center bg-white text-gray-800 p-3 gap-2 rounded-b-lg">
                                    <h5 class="mb-2 text-2xl font-bold tracking-tight"><%= @trade_value %></h5>
                                    <h5 class="mb-2 px-2 py-1 rounded-full bg-teal-600 text-white text-lg font-bold tracking-tight"><%= fa_icon "line-chart" %></h5>
                                </div>
                            </span>
                        </div>