<div class="flex">
  <section>
    <%= render "shared/nav" %>
  </section>
  <main class="w-full h-screen flex flex-col p-8 bg-teal-50 overflow-scroll">
    <%= render "shared/admin_search" %>
    <section class="pb-8">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <% if @admin_accounts.empty? %>
          <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900">
            No Admin Accounts
            <p class="mt-1 text-sm font-normal text-gray-500 text-justify dark:text-gray-400">
              Admin accounts in Investo are specially designated accounts with elevated privileges and access to a comprehensive suite of tools and features. These accounts are entrusted with critical administrative and oversight responsibilities to ensure the smooth and secure operation of the platform.
            </p>
          </caption>
        <% else %>
          <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900">
            Admin Accounts
            <p class="mt-1 text-sm font-normal text-gray-500 text-justify dark:text-gray-400">
              Admin accounts in Investo are specially designated accounts with elevated privileges and access to a comprehensive suite of tools and features. These accounts are entrusted with critical administrative and oversight responsibilities to ensure the smooth and secure operation of the platform.
            </p>
          </caption>
          <thead class="text-xs uppercase bg-teal-700 text-white">
            <tr>
              <th scope="col" class="px-6 py-3">
                Email
              </th>
              <th scope="col" class="px-6 py-3">
                Action
              </th>
            </tr>
          </thead>
        <% end %>
        <tbody>
          <% @admin_accounts.each do |user| %>
            <tr class="bg-teal-50 border-b border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap">
                <%= user.email %>
              </th>
              <td class="flex px-6 py-4 text-black gap-4">
                <%= link_to change_role_to_trader_admin_user_path(user), data: { "turbo-method": :patch } do %>
                  <p class="w-fit text-white bg-yellow-500 font-medium px-2 py-1 rounded">Set as Trader</p>
                <% end %>
                <%= link_to delete_account_admin_user_path(user), data: { "turbo-method": :patch } do %>
                  <p class="w-fit text-white bg-red-600 font-medium px-2 py-1 rounded"><%= fa_icon "trash" %></p>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section>

    <section>
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <% if @approved_traders.empty? %>
          <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-teal-50">
            No Approved Traders
            <p class="mt-1 text-sm font-normal text-gray-500 text-justify dark:text-gray-400">
              Trader accounts are specialized profiles within our stock trading app designed for individuals actively involved in the buying and selling of stocks and other securities. These accounts offer a range of features and tools tailored to meet the needs of both novice and experienced traders.
            </p>
          </caption>
        <% else %>
          <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-teal-50">
            Trader Accounts
            <p class="mt-1 text-sm font-normal text-gray-500 text-justify dark:text-gray-400">
              Trader accounts are specialized profiles within our stock trading app designed for individuals actively involved in the buying and selling of stocks and other securities. These accounts offer a range of features and tools tailored to meet the needs of both novice and experienced traders.
            </p>
          </caption>
          <thead class="text-xs uppercase bg-teal-700 text-white">
            <tr>
              <th scope="col" class="px-6 py-3">
                Email
              </th>
              <th scope="col" class="px-6 py-3">
                Action
              </th>
            </tr>
          </thead>
        <% end %>
        <tbody>
          <% @approved_traders.each do |user| %>
            <tr class="bg-teal-50 border-b border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap">
                <%= user.email %>
              </th>
              <td class="flex px-6 py-4 text-black gap-4">
                <%= link_to change_role_to_admin_admin_user_path(user), data: { "turbo-method": :patch } do %>
                  <p class="w-fit text-white bg-green-600 font-medium px-2 py-1 rounded">Set as Admin</p>
                <% end %>
                <%= link_to delete_account_admin_user_path(user), data: { "turbo-method": :patch } do %>
                  <p class="w-fit text-white bg-red-600 font-medium px-2 py-1 rounded"><%= fa_icon "trash" %></p>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section>
  </main>
</div>
